<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fd.fhtmid.mapper.BProjectTagInfoMapper">
    <!-- 查询所有项目标签. -->
    <select id="projectTagList" resultType="Map">
        SELECT * FROM b_project_tag_info order by create_time desc
    </select>
    <!-- 获取指定项目标签. -->
    <select id="getProjectTagByName" resultType="Map">
        select * from b_project_tag_info where tag_name = #{tag_name}
    </select>
    <!-- 根据编号查询. -->
    <select id="getProjectTagByCode" resultType="Map">
        select * from b_project_tag_info where tag_code = #{tag_code}
    </select>
    <!-- 新增项目标签. -->
    <insert id="insertProjectTag" parameterType="Map">
        insert into b_project_tag_info(id, company_id, tag_code, tag_name, create_by, create_time, is_delete)
        values (#{id}, #{company_id}, #{tag_code}, #{tag_name}, #{create_by}, #{create_time}, #{is_delete})
    </insert>
    <!-- 修改项目标签. -->
    <update id="updateProjectTag" parameterType="Map">
        update b_project_tag_info set tag_name = #{tag_name}, update_by = #{update_by}, update_time = #{update_time} where tag_code = #{tag_code}
    </update>
</mapper>